<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: showModal ? 'block' : 'none' }"
>
  <div
    class="alert alert-danger d-flex align-items-center alert-user"
    role="alert"
    *ngIf="alert"
  >
    <i class="fas fa-exclamation-circle mt-1" style="margin-right: 10px"></i>
    <div>Completar todos los campos.</div>
  </div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ tipo }} Usuario</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingresar nombre"
            [(ngModel)]="userName"
          />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Ingresar email"
            [(ngModel)]="userEmail"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            [(ngModel)]="userPassword"
          />
        </div>
        <div class="form-group">
          <label>Teléfono</label>
          <div class="row">
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="País"
                [(ngModel)]="userContry"
              />
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="Ciudad"
                [(ngModel)]="userCityCode"
              />
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="Número"
                [(ngModel)]="userPhone"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="agregarUsuario()"
        >
          {{ tipo }} Usuario
        </button>
      </div>
    </div>
  </div>
</div>
